# Ignorar el entorno virtual de Python
/venv/

# Ignorar todo dentro de la carpeta input...
input/*
# Ignorar todo dentro de la carpeta temp...
temp/*

# ...excepto el archivo .gitkeep para mantener la estructura
!input/.gitkeep

# Ignorar todo dentro de la carpeta output...
output/*
# ...excepto el archivo .gitkeep para mantener la estructura
!output/.gitkeep

# Ignorar carpetas de caché de Python
__pycache__/
*.pyc

# Ignorar archivos de configuración de VS Code
.vscode/